* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  position: relative;
}

.top-nav {
  padding: 0 5%;
}

.top-nav a {
  color: #fff;
  padding: 1em 0 1em 0.9em;
}

.top-nav i {
  padding: 1em 0 1em 0.9em;
}

#myHeader {
  z-index: 999;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
}

.active {
  color: red !important;
}

#myHeader .btn {
  border: 4px solid red !important;
}

#myHeader .btn:hover {
  color: #fff !important;
  background-color: red;
}

a:hover {
  text-decoration: none;
}

.nav li a {
  color: dimgray;
  margin: 0 0.2em !important;
}

.font-2x {
  font-size: 2rem;
}

.nav-wrapper {
  padding: 0.5em 5%;
}

.stickTop {
  position: fixed;
  top: 0;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url(/assets/images/hero-img.jpg);
  background-size: cover;
  background-attachment: fixed !important;
  padding: 8em 0 0 5%;
  height: 90vh;
  font-weight: 900;
}

/* Plan page */

.select-ticket .step-text::before {
  content: "";
  position: absolute;
  left: 0;
  height: 7px;
  width: 7px;
  background-color: #ec5242;
  transform: rotate(45deg);
  top: 5px;
}

.select-ticket {
  padding-bottom: 3rem;
  position: relative;
}

.cube {
  width: 50px;
  height: 50px;
  text-align: center;
  transform: rotate(45deg);
}

.v {
  transform: rotate(320deg);
  display: inline-block;
}

.cube .v {
  transform: rotate(320deg);
  display: inline-block;
}

.square {
  transform: rotate(45deg);
  display: inline-block;
}

.plan {
  margin: auto;
  min-width: 80%;
  border: 10px solid transparent;
  border-image: repeating-linear-gradient(
      -45deg,
      #ec5242 0,
      #ec5242 1em,
      transparent 1em,
      transparent 2em,
      #272a31 2em,
      #272a31 3em,
      transparent 3em,
      transparent 4em
    )
    20 repeat;
}

.step {
  width: 35%;
  margin: 0 auto;
  border-radius: 40px;
}

/* About page */

.abt-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/assets/images/abt-img.jpg) 0 0 no-repeat;
  background-size: cover;
  color: #fff;
  background-attachment: fixed !important;
  background-position: center;
  text-align: center;
  padding: 4em 0 1em 0;
  height: 50%;
}

.project1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/assets/images/project1.jpg) 0 0 no-repeat;
  background-size: cover;
  padding: 5em 0;
}

.project2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/assets/images/nick-morrison-FHnnjk1Yj7Y-unsplash.jpg) 0 0 no-repeat;
  background-size: cover;
  padding: 5em 0;
}

.abt {
  text-align: center;
  height: auto;
}

.tutors img {
  width: 100%;
  margin: 1em 0 0 0;
  height: auto;
  display: block !important;
}

.abt hr {
  width: 5%;
  margin: 0 auto;
  background-color: red;
}

.abt-description {
  width: 50%;
  border: 4px solid #f1f1f1;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  z-index: 0;
  margin: 0 auto;
}

.description {
  width: 50%;
  border: 4px solid #f1f1f1;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  z-index: 0;
}

.featured-course {
  background: url(/assets/images/bg.jpg) 0 0 no-repeat;
  background-size: cover;
  color: #ccc;
  padding: 5%;
  height: auto;
}

.featured-course h5 {
  font-weight: bold;
  color: #fd5534;
  font-size: 1.5rem;
}

.featured-course hr {
  background-color: red;
  width: 5%;
  margin: 0 auto;
  padding: 0.123em;
}

.featured-course .cols {
  background-color: #fff;
  color: #000;
  width: 100%;
  opacity: 0.9;
  margin: 0.2em 0;
}

.featured-course .cols:hover {
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
  opacity: 0.6;
  cursor: pointer;
}

.featured-course a {
  color: #fff !important;
  background-color: red;
  padding: 1em;
}

.featured-course a:hover {
  color: #fff !important;
  background-color: red;
  -webkit-transition: all 0.2s linear;
  padding: 1.5em;
  transition: all 0.2s linear;
}

.course-info {
  width: 100%;
}

.view-all-course {
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  color: #ccc;
}

.wrapper {
  margin: 0 5%;
}

.tutors small {
  color: red;
}

.tutors-img::after {
  right: 0;
  bottom: auto;
  border-right: 3px dotted #ec5242;
  border-bottom: 3px dotted #ec5242;
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
}

.tutors-img::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-left: 3px dotted #ec5242;
  border-top: 3px dotted #ec5242;
  left: 0;
  top: 0;
}

/* ------------------------- */

.tutors hr {
  background-color: red;
  width: 2%;
  margin: 0 auto;
  padding: 0.123em;
}

.client-section {
  margin: 0 25%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 1em;
}

.client-item hr {
  background-color: red;
  width: 2%;
  margin: 0 auto;
  padding: 0.123em;
}

.footer {
  display: flex;
  align-items: center;
  padding: 2em 5%;
  background-color: #f1f1f1;
}

.featured-course p {
  width: 100% !important;
  height: 110px;
  margin-top: 0 !important;
}

.featured-course .w {
  width: 100% !important;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .nav a {
    padding: 0 0 0 0.1em;
    color: dimgray;
  }

  .hero {
    padding: 4em 0 2em 5%;
    height: 60% !important;
    font-weight: 900;
  }

  .featured-course {
    padding: 1% 2.5% 0 1%;
    height: auto;
  }

  .featured-course p {
    width: 100% !important;
    height: 260px !important;
  }

  .description {
    width: 50% !important;
    border: 4px solid #ccc;
    font-weight: 400;
    font-size: 0.8em;
    z-index: 0;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    margin: 0;
  }

  .featured-course .w {
    width: 100% !important;
  }

  .featured-course {
    padding: 1% 2.5% 0 1%;
    height: auto;
  }

  .featured-course p {
    width: 100% !important;
    height: auto;
  }

  .hero {
    padding: 1em 1% 2em 1%;
    height: 50% !important;
    font-weight: 900;
  }

  .description {
    width: 100%;
    border: 4px solid #ccc;
    opacity: 0.6;
    font-weight: 400;
    font-size: 0.8em;
    z-index: 0;
  }

  .abt-hero {
    padding: 3em 0 0 0;
  }

  .abt-description {
    width: 100%;
  }

  .client-section {
    margin: 0 5%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }

  .step {
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 40px;
  }
}
