

/* stick to top on scroll */

.tutors-img::before,
.artist-img::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
}

.tutors-img::after {
  right: 0;
  bottom: 0;
  border-right: 3px double #ec5242;
  border-bottom: 3px double #ec5242;
}


.client-item .client-logo {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: -webkit-filter 0.2s linear;
  transition: -webkit-filter 0.2s linear;
  transition: filter 0.2s linear;
  transition: filter 0.2s linear, -webkit-filter 0.2s linear;
}